@use 'sass:color';
@use 'sass:map';
@use '@/styles/main.scss' as *;

.app-shell {
  display: flex;
  position: relative;
  background: $background;
  min-height: 100vh;

  .overlay {
    display: none; // Por defecto oculto
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 900;
    transition: opacity $transition;
    opacity: 0; // Estado inicial para transición

    // Se muestra solo cuando el sidebar está abierto y es móvil
    .app-shell.sidebar-open & {
      display: block;
      opacity: 1;
    }
  }

  main {
    flex: 1;
    margin-left: $sidebar-width !important; // Margen por defecto para sidebar colapsado
    padding: map.get($spacers, 4);
    transition: margin-left $transition, filter $transition;

    &.sidebar-shifted {
      margin-left: $expanded-sidebar-width; // Margen para sidebar expandido en desktop
    }

    // Efecto de atenuación cuando el sidebar móvil está abierto
    .app-shell.sidebar-open & {
      @media (max-width: map.get($breakpoints, tablet)) {
        filter: brightness(0.7);
      }
    }

    @media (max-width: map.get($breakpoints, tablet)) {
      //Cambiar la tabla de direccion o algo o reducir campos para asegurar que se ven todos los campos
    }
  }
}
