@use '../../styles/main.scss' as *;

.table-header {
  .btn-primary {
    @include flex-center(row);
    gap: $spacer-2;
    @include button-primary;

    .material-icons {
      font-size: 1.1rem;
    }

    .text {
      @include responsive(tablet) {
        display: none;
      }
    }

    @include responsive(tablet) {
      padding: $spacer-2 $spacer-2;
    }
  }
}
